/* body.gradient-background {
  background: linear-gradient(300deg,  #afc08f,#fce7a3,#9C8BC1) !important;
  background-size: 180% 180% !important;
  animation: gradient-animation 18s ease infinite !important;
  background-position: 0% 50% !important;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}


  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  } */

h2 {
    margin: 20px 0;
    padding: 10px;
}

img {
    margin: 20px 0;
    padding: 10px;
}

body {
    overflow-x: hidden;
}

#mainCarousel {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    box-sizing: border-box;
}

@media (max-width: 769px) {
  .hide-under-769 {
    display: none !important;
  }
}

@media (max-width: 320px) {
  .hide-under-320 {
    display: none !important;
  }
}


/* comment section css pulled from the training exersises i did */
.comment {
  padding-top: 20px;
}
.commentList {
  padding:0;
  list-style:none;
  max-height:200px;
  overflow:auto;
}
.commentList li {
  margin:0;
  margin-top:10px;
}
.commentList li > div {
  display:table-cell;
}
.commenterImage {
  width:50px;
  margin-right:5px;
  height:100%;
  ;
}
.commenterImage img {
  width:100%;
  border-radius:50%;
}
.commentText p {
  margin:0;
}

.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:13px;
}



