{% extends "Admin/admin_base.html" %}
{% block title %}Admin Home{% endblock %}

{% block admin_block %}

<!-- Main content area (Unfulfilled Orders + Sales Chart) -->
<div class="container mt-4">
            <h2>All Users</h2>
            <table class="table table-bordered table-hover mt-3">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Total lifetime spend(£)</th>
                </tr>
                </thead>
                <tbody>
                {% for result in results %}
                <tr>
                    <td>{{ result.name }}</td>
                    <td>{{ result.email }}</td>
                    <td>{{ result.address }}</td>
                    <td>{{ "%.2f"|format(result.total_orders) }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>


{% endblock %}