{% from "bootstrap5/form.html" import render_form %}
{% extends "base.html" %}
{% from "partials/_product_card.html" import product_card %}
{% block content %}

<div class="container">
    <div class="row">
        <div id="filter-div" class="col-12 col-md-2 p-3 border-end">
            <h2>Filters</h2>
            <form method="get" action="{{ url_for('product_page') }}">
                {% for tag, count in all_tags %}
                <div class="form-check mt-2">
                    <input
                            class="form-check-input"
                            type="checkbox"
                            name="tags"
                            value="{{ tag.name }}"
                            id="tag-{{ tag.id }}"
                            {% if tag.name in selected_tags %}checked{% endif %}
                    >
                    <label class="form-check-label" for="tag-{{ tag.id }}">
                        {{ tag.name }} ({{ count }})
                    </label>
                </div>
                {% endfor %}

                <div class="mt-3">
                    <label for="sort" class="form-label">Sort by</label>
                    <select name="sort" id="sort" class="form-select">
                        <option value="" {% if not sort %}selected{% endif %}>-- Select --</option>
                        <option value="price_asc" {% if sort=='price_asc' %}selected{% endif %}>Price: Low to High
                        </option>
                        <option value="price_desc" {% if sort=='price_desc' %}selected{% endif %}>Price: High to Low
                        </option>
                        <option value="rating_asc" {% if sort=='rating_asc' %}selected{% endif %}>Rating: Low to High
                        </option>
                        <option value="rating_desc" {% if sort=='rating_desc' %}selected{% endif %}>Rating: High to
                            Low
                        </option>
                    </select>
                </div>


                <button type="submit" class="btn btn-primary mt-3">Apply Filters</button>
            </form>
        </div>

        <div class="col-12 col-md-10">
            {% if products %}
            {% if product_key %}
            <h2>Search results for "{{ product_key }}"</h2>
            {% endif %}
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-4">
                {% for product in products %}
                {{ product_card(product, user_alerts, current_user) }}
                {% endfor %}

            </div>
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}