<style>
    .simple-bg-footer {
      background-color: #fce7a3; /* Light gray - change this to any color you want */
    }
</style>
<footer class="simple-bg-footer py-3 border-top" style="margin-top: 33px;">
    <div class="container d-flex flex-wrap justify-content-between align-items-center">

        <!-- Left: Info links -->
        <ul class="nav col-md-4 justify-content-start">
            <li class="nav-item">
                <a href="{{ url_for('delivery') }}" class="nav-link px-2 text-body-secondary">Delivery Information</a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for('contact') }}" class="nav-link px-2 text-body-secondary">Contact Us</a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for('about') }}" class="nav-link px-2 text-body-secondary">About</a>
            </li>
        </ul>

        <!-- Center: Copyright -->
        <div class="col-md-4 d-flex justify-content-center">
            <span class="text-body-secondary">© 2025 Regal Chocolate, Inc</span>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3">
                <a class="text-body-secondary" href="https://www.instagram.com/regalchocolate.in/" aria-label="Instagram">
                    <img src="{{ url_for('static', filename='images/instagram.svg') }}" alt="Instagram" width="50"
                         height="50" class="product-img">
                </a>
            </li>
            <li class="ms-3">
                <a class="text-body-secondary" href="https://www.facebook.com/people/Regal-Chocolate/61586712251064/" aria-label="Facebook">
                    <img src="{{ url_for('static', filename='images/facebook.svg') }}" alt="Facebook" width="50"
                         height="50" class="product-img">
                </a>
            </li>
            <li class="ms-3">
                <a class="text-body-secondary" href="#" aria-label="Logo">
                    <img src="{{ url_for('static', filename='images/Logo_simple.png') }}" alt="logo" width="50"
                         height="50" class="product-img">
                </a>
            </li>
        </ul>

    </div>
</footer>