<style>
    .simple-bg-footer {
      background-color: #fce7a3; /* Light gray - change this to any color you want */
    }
</style>
<footer class="simple-bg-footer py-3 border-top" style="margin-top: 33px;">
    <div class="container d-flex flex-wrap justify-content-between align-items-center">

        <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1" aria-label="Bootstrap">
                <svg class="bi" width="30" height="24" aria-hidden="true">
                    <use xlink:href="#bootstrap"></use>
                </svg>
            </a>
            <span class="mb-3 mb-md-0 text-body-secondary">© 2025 Regal Chocolate, Inc</span>
        </div>
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3">
                <a class="text-body-secondary" href="#" aria-label="Instagram">
                    <img src="{{ url_for('static', filename='images/instagram.svg') }}" alt="Instagram" width="50"
                         height="50">
                </a>
            </li>
            <li class="ms-3">
                <a class="text-body-secondary" href="#" aria-label="Facebook">
                    <img src="{{ url_for('static', filename='images/facebook.svg') }}" alt="Facebook" width="50"
                         height="50">
                </a>
            </li>
            <li class="ms-3">
                <a class="text-body-secondary" href="#" aria-label="Logo">
                    <img src="{{ url_for('static', filename='images/Logo_simple.png') }}" alt="logo" width="50"
                         height="50">
                </a>
            </li>
        </ul>

    </div>
</footer>