{% extends 'base.html' %}

{% block title %}Home - Chocolate Shop{% endblock %}

{% block content %}


<img src="{{ url_for('static', filename='images/central_hero_small.png') }}"
     alt="Hero image"
     class="hero-full"
     loading="lazy">
<div>

</div>
<h1 style="text-align: center; font-family: 'Amsterdam One', cursive; margin: 30px;">
    Welcome
</h1>

{% if current_user.admin %}
<div class="pt-3">
    <a href="{{ url_for('create_shipment') }}" class="btn btn-primary mb-3">
        + Create New Shipment
    </a>
</div>
<div class="pt-3">
    <a href="{{ url_for('create_product') }}" class="btn btn-primary mb-3">
        + Create New Product
    </a>
</div>
{% endif %}
<h2 style="text-align: center;">
    Best Sellers
</h2>
<div class="container-fluid">
    <div class="row g-0 align-items-center justify-content-center">

        <!-- Left image column -->
        <div class="col-12 col-md-4 hide-under-1000">
            <img src="{{ url_for('static', filename='images/hero_1_small.png') }}"
                 alt="photo"
                 class="full-bleed-left lazy-swap"
                 loading="lazy"
            >
        </div>

        <!-- Right product cards -->
        <div class="col-12 col-lg-8 px-3 py-4">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
                {%for product in sorted_products[:6] if product.is_active%}
                <div class="col">
                    <div class="card h-100">
                        <a href="{{ url_for('product_detail', product_id=product.id) }}"
                           style="text-decoration: none; color: inherit;">
                            <img src="{{ url_for('static', filename=product.image) }}" class="card-img-top"
                                 alt="Product Image">
                            <div class="card-body">
                                <h5 class="card-title">{{ product.name }}</h5>
                                <p><strong>Rating:</strong> {{ product.average_rating() }} ⭐</p>
                                {% set box = product.lowest_price_box() %}
                                <p class="card-text"><strong>₹{{ box.price }}</strong></p>
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <hr>

    <section class="reviews my-5">
        <h2 class="text-center mb-4">What Our Customers Say</h2>
        <div class="container">
            <div class="row g-4">

                {% for comment in comments %}
                <div class="col-md-4">
                    <blockquote class="blockquote p-4 bg-light rounded shadow-sm position-relative">
                        <span class="quote-mark">“</span>
                        <p class="mb-0">{{ comment.comment }}</p>

                        <div class="rating mt-2 mb-1">
                            {% for i in range(1, 6) %}
                            {% if i <= comment.rating %}
                            ⭐
                            {% else %}
                            ☆
                            {% endif %}
                            {% endfor %}
                        </div>

                        <footer class="blockquote-footer mt-2">
                            {{ comment.user.name.split(' ')[0] }} — <cite title="Product">{{ comment.product.name
                            }}</cite>
                        </footer>
                    </blockquote>
                </div>
                {% endfor %}

            </div>
        </div>
    </section>
    <hr>
    <h2 style="text-align: center;">
        We think you will love
    </h2>
    <div class="container-fluid">
        <div class="row g-0 align-items-center justify-content-center">

            <!-- Left image column -->
            <div class="col-12 col-md-4 hide-under-1000">
                <img src="{{ url_for('static', filename='images/hero_2_small.png') }}"
                     alt="photo"
                     class="full-bleed-left lazy-swap"
                     loading="lazy"
                >
            </div>

            <!-- Right product cards -->
            <div class="col-12 col-lg-8 px-3 py-4">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
                    {% for product in products if product.is_active %}
                    {% if loop.index <= 6 %}
                    <div class="col">
                        <div class="card h-100">
                            <a href="{{ url_for('product_detail', product_id=product.id) }}"
                               style="text-decoration: none; color: inherit;">
                                <img src="{{ url_for('static', filename=product.image) }}" class="card-img-top"
                                     alt="Product Image">
                                <div class="card-body">
                                    <h5 class="card-title">{{ product.name }}</h5>
                                    <p><strong>Rating:</strong> {{ product.average_rating() }} ⭐</p>
                                    {% set box = product.lowest_price_box() %}
                                    <p class="card-text"><strong>₹{{ box.price }}</strong></p>
                                </div>
                            </a>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <hr>
    {% endblock %}

</div>
